@font-face {
    font-family: poppins;
    src: url("/font/Poppins-Regular.otf");
}

@font-face {
    font-family: yaldevi;
    src: url("/font/Yaldevi.ttf");
}

.text-center.fw-bold {
    letter-spacing: 0.625rem;
    color: #00301E;
    margin-bottom: 2rem;
}

.img-responsive.img-principal {
    max-width: 100%;
}

.description {
    text-align: justify;
    margin-bottom: 20px;
}

.description p {
    line-height: 2.5rem;
}

#container-news>.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

#nilai-dasar {
    padding: 0;
}

#deskripsi-nilai-dasar {
    padding: 4rem calc(var(--bs-gutter-x) * 2);
    background: #677B73;
    color: white;
}

#deskripsi-nilai-dasar>h1 {
    text-transform: uppercase;
    border-bottom: #00301D solid;
    font-weight: bolder;
    text-align: center;
    margin: 0 5rem;
    letter-spacing: 5px;
}

#deskripsi-nilai-dasar>h1>span {
    color: #FFB74D;
}

@media (max-width: 992px) {
    #item-nilai-dasar {
        width: auto !important;
    }
}

#deskripsi-nilai-dasar>p {
    margin-top: 20px;
    text-align: justify;
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#item-nilai-dasar {
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#item-nilai-dasar {
    background-color: #00301D;
    padding: 2rem calc(var(--bs-gutter-x) * 0.5);
    color: white;
}

#item-nilai-dasar .col-2 {
    display: flex;
    justify-content: end;
    align-items: center;
}

#item-nilai-dasar h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    color: #FFA726;
    font-family: poppins;
    font-weight: bold;

}

#item-nilai-dasar>.row {
    margin-top: 20px;
}

.page-section#services {
    clear: both;
}

.video-kepala-sekolah {
    padding: 0 30px;
    width: 100%;
    height: 50vw;
}

#kepala-sekolah>p {
    text-align: center;
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;

}

@media (max-width: 992px) {

    .description,
    #img-large-news {
        width: auto !important;
    }
}

@media (max-width: 570px) {

    .large-news-content>p {
        display: none;
    }

    .small-news-content>p {
        display: none;
    }

    #container-news>.row {
        margin: 0 !important;
    }
}

.btn.btn-outline-success {
    color: #00301E;
    border-color: #00301E;
    border: 2px solid #00301E;
}

.btn.btn-outline-success:hover {
    color: white;
    background-color: #00301E;
}

.fa.fa-arrow-right {
    margin-left: 0.2rem;
}

.underline-yellow {
    border-bottom: 0.188rem solid #FF9800;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.latestNews h1,
.title-light-green {
    background-color: #00301E;
    display: inline-block;
    color: white;
    padding: 1rem 4rem 1rem 3.5rem;
    border-radius: 0rem 4rem 4rem 0rem;
}

.title-light-green {
    background-color: rgba(6, 74, 0, 0.67);
    box-shadow: 0px 9px 15px 10px rgba(0, 0, 0, 0.25);
}

.largeNews {
    margin: 2% 2% 1% 2%;
}

.img-news {
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
    float: left;
}

.largeNews img {
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
    float: left;
}

.largeNewsDesc {
    float: left;
    margin-left: 2%;
    width: 30%;
}

.published p {
    display: inline;
}

.published p:nth-child(1) {
    text-transform: capitalize;
    color: white;
    background-color: #00301E;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.large-news-content {
    word-wrap: break-word !important;
}

.large-news-content h3,
.small-news-content h3 {
    margin-top: 3%;
    font-weight: 900;
    word-wrap: break-word;
}

.large-news-content p {
    font-size: larger;
}

.img-news {
    margin-bottom: 10px;
}

.smallNewsItem {
    margin-left: 2%;
    margin-top: 2%;
    width: 30%;
    display: inline-block;
    float: left;
}

.smallNews {
    clear: both;
}

.smallNews img {
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
}

.smallNewsPublished {
    margin-top: 4%;
}

.smallNewsPublished p {
    display: inline;
}

.smallNewsPublished p:nth-child(1) {
    text-transform: capitalize;
    color: white;
    background-color: #00301E;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.small-news-content {
    width: 100%;
    margin-top: 1.5%;
}

.small-news-content p {
    text-align: justify;
}

#rightArrowShowMore {
    color: white;
    margin-left: 0.4rem;
}

.btn.btn-success {
    background-color: #00301E;
    border: 0.125rem solid white;
    padding: 1rem 0.7rem;
    border-radius: 0.5rem;
}
.btn.btn.btn-success a{
    text-decoration: none;
    color: white;
}
.btn.btn.btn-success a:hover{
    text-decoration: none;
    color: #00301E;
}
.btn.btn-success:hover {
    background-color: white;
    color: #00301E;
    border: 0.125rem solid #00301E;
    padding: 1rem 0.7rem;
    border-radius: 0.5rem;
}


#rightArrowShowMore:hover {
    color: #00301E
}



.social-media .row>* {
    padding: 0;
}

.img-social-media {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#location-map>iframe {
    border-radius: 2rem;
}

.img-school {
    max-width: 80% !important;
}

footer.page-section {
    border-top: 1rem #F6C844 solid;
    background-color: #00301D;
    color: white;
    padding-bottom: 0rem !important;
    padding-top: 3rem !important;
}

footer.page-section .col img {
    max-width: 25%;
}

#footerROW {
    margin-left: 2rem;
    margin-right: 2rem;
}

#copyright {
    margin-left: 2rem;
}

#iconFooter {
    margin-right: 0.5rem !important;
}

/* style detail.html */

.container.mt-5 {
    font-size: 1rem !important;
    border-bottom: 2px solid rgb(214, 214, 214);
    font-family: poppins;
}

#breadcrumb {
    text-decoration: none;
    color: #FF9800;
    transition: 0.4s ease all;
}

a#breadcrumb:nth-last-child(1) {
    color: #00301D !important;
}

a#breadcrumb:nth-last-child(1):hover {
    cursor: auto;
}

#breadcrumb:hover {
    color: #00301D
}

#title {
    font-size: 1.8rem;
    font-family: poppins;
    font-weight: bold;
}

#titlePublish {
    margin-bottom: -1rem;
}


.page-section.py-3 {
    margin-bottom: 8rem;
}

.container#isiDetailContent {
    width: 95%;
    margin-left: 0rem;
    margin-right: 0rem !important;
}

#fotoDetail {
    max-width: 100%;
}

.row.pt-4 {
    text-align: justify;
    line-height: 2rem;

}

#orderedList {
    margin-left: 1rem;

}

/* style slider youtube */
.container.slider {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer {
    width: 100%;
    margin: auto;

}


.controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.previous,
.next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border-radius: 20%;
    outline: none;
    transition: 0.4s all ease;
    border: 2px solid #00301D;
    box-shadow: 0 0 5px #bbb;
}



.previous:hover,
.next:hover {
    border: 2px solid gray;
}

.slide-img {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.slide-img a {
    text-decoration: none;
    /* transform: scale(0); */
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    opacity: 1;
}

/* .slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

.slide-img:hover {
    box-shadow: 0 0 0 200px #DE5A37 inset;


} */

/* halaman visi misi */
#visi {
    margin-top: 3.7rem;
}

#visi p {
    font-size: 1.2rem;
    line-height: 2.4rem;
}

#visi h1 {
    font-weight: bold;
    color: #00301D;
    text-shadow: 2px 2px #adadad;

}

.visiDesc {
    width: 48.875rem;
    margin-left: auto;
    margin-right: auto;
}

#misi {
    margin-top: 3.7rem;
}

.misiDesc {
    width: 62.5rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

#misi h1 {
    font-weight: bold;
    color: #00301D;
    text-shadow: 2px 2px #adadad;

}

.subList {
    list-style-type: lower-alpha;
}

/* halaman makna logo */

#maknaLogo img {
    width: 13.75rem;
}

.maknaDesc {
    width: 60.5rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.kutipanMakna {
    width: 60.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* halaman mars de britto */
.video-mars {
    margin-top: 3rem;
    padding: 0 30px;
    width: 90%;
    height: 40vw;
    margin-left: auto;
    margin-right: auto;
}

#marsDesc {
    text-align: center;
    margin-top: 2.4rem;
    font-family: poppins;
}

#marsDesc p:nth-child(1) {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px #d6d6d6;
    margin-bottom: 0rem;
}

#marsDesc p:nth-child(2) {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#marsDesc p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 6rem;
    line-height: 2.2rem;
}

/* halaman guru karyawan */

.elementsContainer a {
    text-decoration: none;
}

.elementsContainer span {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.boxContainer {
    margin: auto;
    position: relative;
    width: 300px;
    height: 43px;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;

    margin: auto;
    /* margin-top: -19.625rem; */
    margin-top: -20vw;
    /* margin-top: 1rem; */
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-family: poppins;
}

.search {
    border: none;
    height: 90%;
    width: 100%;
}

.search:focus {
    outline: none;
}

.material-icons {
    font-size: 25;
    color: #000000;
}

#fasilitas {
    font-family: poppins;
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;

}

.content-landing {
    position: absolute;
    z-index: 99;
    font-size: clamp(2rem, 3.5vw, 5rem);
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 6.25rem;
    font-weight: bold;
}

.content-landing span {
    color: #FF9800;
}

.titleHalaman {
    font-weight: bold;
    font-size: 2.5rem;
    color: #00301D;
    text-shadow: 3px 4px #bbbbbb;
}

.fotoGuruKaryawan {
    margin-top: 4rem;
    margin-bottom: 12rem;
    font-family: poppins;
}

.fotoGuruKaryawan .img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bingkai {
    width: 15.8rem;
    background: #EEEEEE;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 4px 5px 2px #00000054;
}

.bingkai p {
    text-align: center;
    margin-top: 1rem;
    color: #00301D;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

#nilai-dasar .row {
    margin-left: 0;
    margin-right: 0;
}

/* halaman visi misi */
#visiMisi {
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

/* halaman list berita */
#itemBerita {
    font-family: poppins;
}

#panelJudul {
    border-bottom: 2px solid rgb(214, 214, 214);
}

#panelGambar img {
    width: 100%;
}

#panelJudul a {
    text-decoration: none;
    color: #00301E;
    transition: 0.4s all ease;
}

#panelJudul a:hover {
    text-decoration: none;
    color: #DE5A37;
    transition: 0.4s all ease;
}

#judulBerita {
    font-weight: bold;
    font-size: clamp(0.8rem, 4vw, 1.5rem);

}

footer .logo-jb {
    width: 150px;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    font-family: poppins;
    transition: background-color 0.2s ease;
}

.dropdown-item {
    color: #999999;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
}

@media (min-width: 992px) {
    .dropdown-menu {
        margin-top: 20px !important;
        background: rgba(0, 0, 0, 0.3);
    }

    .dropdown-item {
        color: white;
    }
}

.navbar-shrink .dropdown-item {
    color: #999999;
}

.navbar-shrink .dropdown-menu {
    background: white;
}

.dropdown-item:hover {
    color: #16500c;
}


/* halaman index.html */
#container-news p {
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#container-news h3 {
    font-family: poppins;
    font-size: 1.8rem;
    font-weight: bold;
}

.published p {
    font-size: 1rem !important;
}

footer.page-section {
    font-family: poppins;
    font-size: 1.1rem;
}

/* halaman index */
#navbarNavLightDropdown {
    font-family: poppins !important;
}

#infoPublisher {
    font-family: poppins;
    font-size: 1rem !important;
}

.row.pt-4 {
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;

}

/* halaman maknaLogo */
#maknaLogo {
    font-family: poppins;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.img-landing {
    width: 100%;
    height: 100%;
    padding: 0;
}

.img-landing {
    overflow: hidden;
    position: relative;
}

.img-landing>img {
    height: 100%;
    width: auto;
}

@media (min-aspect-ratio:16/9) {

    .img-fluid,
    .img-landing>img {
        width: 100%;
        height: auto;
    }
}

@media(max-width:991px) {
    .img-landing>img {
        width: 100%;
        height: auto;
    }

    .img-fluid {
        height: 100%;
        width: auto;
    }
}

/* halaman sejarah */
#sejarah {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sejarah-green {
    background: #00301DC9;
    color: #F8F8F8;
}

.sejarah-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sejarah-item .img-container {
    padding: 50px;
    box-shadow: 0 0 5px 5px #00000054;
    background: #F7F7F7;
    color: #000000;
}

.img-container>h4 {
    margin-bottom: 0;
    margin-top: 20px;
    text-align: end;
}

/* halaman rektor */
#rektor {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#rektor .bingkai {
    margin-bottom: 0;
}

.bingkai img {
    width: 13.75rem;
    max-width: 250px;
}

.bingkai+p {
    text-align: center;
    font-weight: bold;
}

/* halaman jajaran direksi */
#kepalaSekolahJudul,
#wakilKepalaSekolahJudul {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00301D;
    text-shadow: 3px 4px #bbbbbb;
    line-height: 2.5rem;
}

/* pengumuman */

#daftar-pengumuman {
    margin-top: 3rem;
}

.pengumuman {
    color: #055837;
    background: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid #055837;
    z-index: 10;
    margin-bottom: 2rem;
    cursor: pointer;
}

.deskripsi-pengumuman {
    color: white;
    background: #055837;
    border-radius: 0 0 2rem 2rem;
    padding: 3rem 2rem;
}

#daftar-pengumuman .collapse,
#daftar-pengumuman .collapsing {
    transform: translateY(-4rem);
    padding: 0;
}

.pengumuman .fa {
    font-size: 20px;
}