.text-center.fw-bold {
    letter-spacing: 0.625rem;
    color: #00301E;
    margin-bottom: 2rem;
}

.img-responsive.img-principal {
    max-width: 100%;
}

.description {
    text-align: justify;
    margin-bottom: 20px;
}

.description p {
    line-height: 2.5rem;
}

#container-news>.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.core-value-item {
    width: 350px;
    text-align: center;
}

.core-value-item>h1 {
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.page-section#services {
    clear: both;
}

@media (max-width: 992px) {

    .description,
    #img-large-news {
        width: auto !important;
    }
}

@media (max-width: 570px) {

    .large-news-content>p {
        display: none;
    }

    .small-news-content>p {
        display: none;
    }

    #container-news>.row {
        margin: 0 !important;
    }
}

.btn.btn-outline-success {
    color: #00301E;
    border-color: #00301E;
    border: 2px solid #00301E;
}

.btn.btn-outline-success:hover {
    color: white;
    background-color: #00301E;
}

.fa.fa-arrow-right {
    margin-left: 0.2rem;
}

.underline-yellow {
    border-bottom: 0.188rem solid #FF9800;
}

#core-values-title {
    background-color: #00301E;
    padding: 1.563rem 0rem;
}

#core-values-title>h1 {
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.leadership img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.leadership p {
    width: 30%;
    display: inline-block;
    font-weight: bold;

}


.competence h1 {
    /* display: inline-block; */
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.competence p {
    width: 70%;
    display: inline-block;
    font-weight: bold;
}

.conscience h1 {
    /* display: inline-block; */
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.conscience p {
    width: 70%;
    display: inline-block;
    font-weight: bold;
}

.compassion h1 {
    /* display: inline-block; */
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.compassion p {
    width: 70%;
    display: inline-block;
    font-weight: bold;
}

.commitment h1 {
    /* display: inline-block; */
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.commitment p {
    width: 70%;
    display: inline-block;
    font-weight: bold;
}

.consistency h1 {
    /* display: inline-block; */
    color: #FF9800;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.consistency p {
    width: 70%;
    display: inline-block;
    font-weight: bold;
}

.latestNews h1 {
    background-color: #00301E;
    display: inline-block;
    color: white;
    padding: 1rem 4rem 1rem 3.5rem;
    border-radius: 0rem 4rem 4rem 0rem;
}

.largeNews {
    margin: 2% 2% 1% 2%;
}

.img-news {
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
    float: left;
}

.largeNews img {
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
    float: left;
}

.largeNewsDesc {
    float: left;
    margin-left: 2%;
    width: 30%;
}

.published p {
    display: inline;
}

.published p:nth-child(1) {
    text-transform: capitalize;
    color: white;
    background-color: #00301E;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.large-news-content {
    word-wrap: break-word !important;
}

.large-news-content h3,
.small-news-content h3 {
    margin-top: 3%;
    font-weight: 900;
    word-wrap: break-word;
}

.large-news-content p {
    font-size: larger;
}

.img-news {
    margin-bottom: 10px;
}

.smallNewsItem {
    margin-left: 2%;
    margin-top: 2%;
    width: 30%;
    display: inline-block;
    float: left;
}

.smallNews {
    clear: both;
}

.smallNews img {
    width: 100%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
}

.smallNewsPublished {
    margin-top: 4%;
}

.smallNewsPublished p {
    display: inline;
}

.smallNewsPublished p:nth-child(1) {
    text-transform: capitalize;
    color: white;
    background-color: #00301E;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.small-news-content {
    width: 100%;
    margin-top: 1.5%;
}

.small-news-content p {
    text-align: justify;
}

#rightArrowShowMore {
    color: white;
    margin-left: 0.4rem;
}

.btn.btn-success {
    margin-left: 2%;
    margin-top: 2%;
    background-color: #00301E;
    border: 0.125rem solid white;
    padding: 1rem 0.7rem;
    border-radius: 0.5rem;
}

#rightArrowShowMore:hover {
    color: #00301E
}

.btn.btn-success:hover {
    background-color: white;
    color: #00301E;
    border: 0.125rem solid #00301E;
    padding: 1rem 0.7rem;
    border-radius: 0.5rem;
}

.social-media .row>* {
    padding: 0;
}

.img-social-media {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#location-map>iframe {
    border-radius: 2rem;
}

.img-school{
    max-width: 80% !important;
}

footer.page-section{
    border-top: 1rem #FF9800 solid;
    background-color: #00301D;
    color: white;
    padding-bottom: 0rem !important;
    padding-top: 3rem !important;
}

footer.page-section .col img{
    max-width: 25%;
}

#footerROW{
    margin-left: 2rem;
    margin-right: 2rem;
}

#copyright{
    margin-left: 2rem;
}

#iconFooter{
    margin-right: 0.5rem !important;
}

/* style detail.html */

.container.mt-3{
    font-size:0.9rem ;
}
#breadcrumb{
    text-decoration: none ;
    color: #FF9800;
    transition: 0.4s ease all;
}

a#breadcrumb:nth-last-child(1){
    color: #00301D !important;
}
a#breadcrumb:nth-last-child(1):hover{
    cursor: auto;
}

#breadcrumb:hover{
    color: #00301D
}

#title{
    font-size: 1.8rem;
}

#titlePublish{
    margin-bottom: -1rem;
}

#isiDetailContent div.row:nth-child(2){
    margin-bottom: 5rem;
}

.page-section.py-3{
    margin-bottom: 8rem;
}

.container#isiDetailContent{
    width: 95%;
    margin-left: 0rem;
    margin-right: 0rem !important;
}

#fotoDetail{
    max-width: 100%;
}

.row.pt-4{
    text-align: justify;
    line-height: 2rem;
  
}

#orderedList{
    margin-left: 1rem;
    
}

/* style slider youtube */
.container.slider{
    height: 100%;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.subcontainer{
    width: 85%;
    margin: auto;
   
}


.controller{
    display: flex;
    justify-content: space-between;
}

.previous, .next{
    padding:2px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition: 0.4s all ease;
    border: 3px solid white;
    background-color: black;
    box-shadow: 0 0 5px #bbb;

}

.previous:hover, .next:hover{
    border: 3px solid gray;
}

.slide-img{
    width: 100%;
    height: 275px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.slide-img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide-img:hover a{
    opacity: 1;
    transform: scale(1);
}

.slide-img:hover{
    box-shadow: 0 0 0 200px black inset;
}

.img-1{
    background-image: url(https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.img-2{
    background-image: url(https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.img-3{
    background-image: url(https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.img-4{
    background-image: url(https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.img-5{
    background-image: url(https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}





