#galeri>.row {
    margin: 25px;
}

#galeri {
    margin-top: -10vw;
}

.masthead {
    background: transparent !important;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: transparent;
    text-align: center;
    z-index: 10;
}

.caption h1 {
    font-size: calc(1.375rem + 0.7vw);
    font-family: poppins;
}

.galeri-box {
    position: relative;
    display: block;
    font-family: poppins !important;
}

.galeri-box:hover>img {
    webkit-filter: blur(4px);
    filter: blur(4px);
    transition: filter 0.25s ease;
}

.btn-more {
    margin-top: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 3rem;
    font-family: poppins;
}

.btn-more:hover {
    color: black;
    background: white;
}

.elementsContainer {
    font-family: poppins;
}

.img-landing {
    padding: 0;
}

@media (max-width: 768px) {
    #galeri {
        margin-top: 0;
    }

    .galeri-box {
        margin: 25px;
    }
}