/* halaman landing-hisVisMis */

#garisBatas{
    width: 9.375rem;
    border-top: 4px solid #FF9800;
    margin-left: auto;
    margin-right: auto;
}

#historyDesc p{
    width: 80%;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}


#visionMision p{
    width: 80%;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}


body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/landing.png");
    background-size: cover;
}

main {
    /* background-image: none; */
    height: 100%;
    background-repeat: repeat;
}

#main-landing{
    height: 100% !important;
}

#footer-landing{
    position: fixed;
    bottom: 0;
    width: 100%;
}