@font-face {
    font-family: dDiam;
    src: url("/font/dDiam.ttf");
  }

@font-face {
    font-family: cdSans;
    src: url("/font/ChildrenSans.ttf");
}

@font-face {
    font-family: papernotes;
    src: url("/font/Papernotes.otf");
}

@font-face {
    font-family: poppins;
    src: url("/font/Poppins-Regular.otf");
}
  
#backgroundIntIndex{
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/Pesta\ Nama\ St\ 1.jpg");
    background-size: cover;
}

.nav-item .nav-link{
    font-size: 1.1rem !important;
}

#welcomeTo{
    /* width: 100%; */
    height: 30%;
    margin: 0;
    margin-top: 3rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    margin-left: 8%;
}
#welcomeTo h2:nth-child(1){
    color: #F6BA0A;
    /* font-size: 1.8rem; */
    font-size: clamp(0.5rem, 4vw, 1.8rem); 
}
#welcomeTo h2:nth-child(2){
    color: white;
    /* font-size: 5rem; */
    font-size: clamp(2rem, 10vw, 5rem); 
    font-family: dDiam;
    letter-spacing: 0.2rem;
    text-shadow: -1px -1px 0 #F6BA0A, 1px -1px 0 #F6BA0A, -1px 1px 0 #F6BA0A, 1px 1px 0 #F6BA0A;
    margin-bottom: 0rem;
}
#welcomeTo h2:nth-child(3){
    color: #F6BA0A;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-family: cdSans;
    margin-top: -0.3rem;
    font-size: clamp(1rem, 6vw, 2.5rem); 
    /* font-size: 2.5rem; */
}

.masthead2{
    height: 100vh;
    background-color: black;
}

#intNews{
    width: 100%;
    padding-top: 3rem;
}
#intNewsTitle{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 21.25rem;
    background-color: #00301D;
    margin-left: auto;
    margin-right: auto;
    color: #F6BA0A;
    font-size: 1.5rem !important;
    border-radius: 1.5rem;
    font-family: dDiam;
    letter-spacing: 0.2rem;
    font-style: italic;
    
}

#intNewsTitle p{
    margin-bottom: 0rem;
}

#slider{
    margin-top: 1rem;
}

.slide{
    background-color: #F6F6F6;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

.slide-img2 a {
    text-decoration: none;
    transform: scale(0);
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: 0.8s;
}

.slide-img2:hover a {
    opacity: 1;
    transform: scale(1);
}

.slide-img2 {
    width: 100%;
    height: 15.625rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;

    /* box-shadow: 5px 5px #bbbbbb; */
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    /* background-color: white; */
}

.slide-img2:hover {
    cursor: pointer ;
    transition: 0.7s ;
    box-shadow: 0 0 0 200px #00301D inset ;
    /* background-color: #00301D; */

}

.separate{
    width: 60px;
    height: 15px;
    border-radius: 1rem;
    background-color: #00301D;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    float: left;
}
.mb-1{
    font-size: 0.9rem !important;
}

#intNewsDesc h4 a{
    font-weight: bold;
    color: #00301D;
    text-decoration: none;
    transition: 0.7s;
}

#intNewsDesc h4 a:hover{
    font-weight: bold;
    color: #DE5A37;
    transition: 0.7s;
}
#intNewsDesc p:nth-child(3){
    text-align: justify;
}

.previous2,
.next2 {
    padding: 2px;
    cursor: pointer;
    outline: none;
    transition: 0.4s all ease;
    border: none;
    background-color: white;
    font-size: 1.2rem;
    font-family: papernotes;
    
}

.previous2{
    color: black;
    margin-right: 0.5rem;
}

.next2{
    color: #F6BA0A;
    margin-left: 0.5rem;
}

.controller{
    margin-top: 1rem !important;
}


/* bagian video principal */
#principalTitle{
    width: 250px;
    background-color: #00301D;
    color: #F6BA0A;
    padding: 0.5rem 3rem ;
    border-radius: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: dDiam;
    letter-spacing: 0.2rem;
    font-style: italic;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
   
}

#principalTitle p{
    margin-bottom: 0rem;
}

#principalVideoPlayer{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    
}

#principalVideoPlayer iframe{
    border-radius: 2rem;
    padding: 1rem;
}

#principalVideoDesc{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2rem;
}


/* bagian our partner */
#ourPartner{
    width: 90%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
}
#partnerImage{
    width: 15.625rem;
    height: 15.625rem;
}

#partnerImage img{
    /* width: 15.625rem;
    height: 15.625rem; */
    width: 100%;
}

#partnerTitle{
    margin-left: auto;
    margin-top: 5rem;
}

#partnerTitle p:nth-child(1){
    color: #00301D;
    font-family: dDiam;
    font-size: 2.5rem;
    margin-bottom: 0rem;
}
#partnerTitle p:nth-child(2){
    color: #F6BA0A;
    font-family: papernotes;
    font-size: 2.5rem;
    margin-top: -1.3rem;
    margin-left: 1rem;
}

/* bagian footer */
.col-4.mb-2{
    margin-left: 2rem;
}

footer.page-section{
    border-top: 3rem #F6BA0A solid;
}


/* halaman international about */


#titleWelcome h2{
    width: 20%;
    color: white;
    margin-left: 8%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: dDiam;
    letter-spacing: 0.2rem;
    font-size: clamp(3.5rem, 10vw, 5rem); 
    text-shadow: -1px -1px 0 #F6BA0A, 1px -1px 0 #F6BA0A, -1px 1px 0 #F6BA0A, 1px 1px 0 #F6BA0A;
    border-bottom: 0.3rem dotted #F6BA0A;
}

.mx-2{
    margin-top: 3rem;
}

#leftPanel{
    /* width: 17%; */
   /* width: 12.5rem; */
}

#rightPanel{
    /* width: 80%; */
    /* height: 40rem; */
    /* width: 71.875rem; */
    background-color: #EEEEEE;
    margin-left: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-top: 2.8rem;
}

#leftPanel p{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: poppins;
    margin-bottom: 0rem;
}

#listAbout ul{
    height: 18.75rem;
    list-style-type: none;
    font-family: poppins;
    background-color: #EEEEEE;
    color: #F6BA0A;
    font-size: 1.1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    line-height: 2rem;
}
#listAbout ul li{
    margin-left: -1rem;
}

#listAbout ul li:nth-child(1){
    font-weight: 900;
}

#listAbout a{
    text-decoration: none;
    color: #F6BA0A;
    transition: 0.4s ease all;
}

#listAbout a:hover{
    text-decoration: none;
    color: #00301D;
    transition: 0.4s ease all;
}

#rightPanel p{
    margin: 1rem;
    text-indent: 2rem;
    line-height: 2rem;
    font-family: poppins;
    font-size: 1.1rem;
}

#rightPanel p:nth-child(1){
    font-weight: bold;
    text-indent: 0rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;

}
